<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>R&M-Experimentsu</title>
  <link rel="shortcut icon" href="img/favicon.ico"/>


  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/app.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo green-text text-lighten-2"><img class="responsive-img" id="logo" src="img/rm.jpg" style="width: 29px" style="height: 29px">R&M</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"></a></li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center light-blue-text text-accent-1 text-lighten-2">Rick and Morty Stuff</h1>
        <div class="row center">
        <h5 class="header col s12 light">A collection of Rick and Morty. . .</h5>
        </div>
        <div class="row center">
          <a href="http://kisscartoon.se/Cartoon/Rick-and-Morty" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Watch Rick and Morty Online</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><a href="http://rickandmorty.wikia.com/wiki/Mr._Meeseeks"><img class="circle responsive-img" src="img/season1.jpg"></i></a></h2>
            <h5 class="center">Season 1</h5>

            <p class="light center">An animated series that follows the exploits of a super scientist and his not so bright grandson.</p>
            <blockquote>
              "Click picture to know the character."
            </blockquote>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><a href="http://rickandmorty.wikia.com/wiki/Snuffles"><img class="circle responsive-img" src="img/Season2.jpg"></i></a></h2>
            <h5 class="center">Season 2</h5>

            <p class="light center">(Spoiler Alert) Continuation of Rick and Morty Season 1. Rest in Peace Bird Person T.T</p>
            <blockquote>
              "Click picture to know the character."
            </blockquote>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><a href="http://rickandmorty.wikia.com/wiki/Morty_Smith"><img class="circle responsive-img" src="img/Season3.jpg"></i></a></h2>
            <h5 class="center">Season 3</h5>
            <p class="light center">(Not yet aired)The great prison escape! Coming this March babyyy! Wubalubadubdub!</p>
            <blockquote>
              "Click picture to know the character."
            </blockquote>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header blue-grey-text text-lighten 4 text-lighten-2 "><a href="https://www.youtube.com/watch?v=I1188GO4p1E">Get Schwifty Get Schwifty Get Schwifty Get Schwifty Get Schwifty Get Schwifty </h5></a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Plot</h4>
          <p class="center-align light">Rick Sanchez is an alcoholic scientific genius who has moved in with the family of his daughter Beth, who is a veterinarian and equine cardiac surgeon. He splits his time between developing arcane projects and taking his teenage grandson Morty (and, with increasing occurrence, his older teenage granddaughter Summer) on dangerous and surreal adventures throughout the multiverse. Compounded with preexisting tensions within the family, these events cause the sensitive Morty much distress at home and school.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header green-text text-accent-2"><a href="https://www.youtube.com/watch?v=GaFS_01eAj8">Rick's Catchphrases</h5></a>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Rick and Morty Videos</h5>
          <p class="grey-text text-lighten-4">Season 1</p>
          <p class="grey-text text-lighten-4">Season 2</p>
          <p class="grey-text text-lighten-4">Season 3</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Promos</h5>
          <ul>
            <li><a class="white-text" href="https://www.youtube.com/watch?v=WNhH00OIPP0"><p>Season 1 Promo Video</a></li></p>
            <li><a class="white-text" href="https://www.youtube.com/watch?v=vjM7vs3WSrw"><p>Season 2 Promo Video</a></li></p>
            <li><a class="white-text" href="#!"><p>Not Yet Aired!</a></li></p>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Highlights</h5>
          <ul>
            <li><a class="white-text" href="https://www.youtube.com/watch?v=T7UxQZoxFEg"><p>Season 1 Highlights</a></li></p>
            <li><a class="white-text" href="https://www.youtube.com/watch?v=A0nItllCMSk!"><p>Season 2 Highlights</a></li></p>
            <li><a class="white-text" href="#!"><p>Not Yet Aired!</a></li></p>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://github.com/Derperinoo">Lansuuu</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
